/*-----------------------------------*\
                $HEADER
\*-----------------------------------*/
* {
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
}

body {
    background: #090821;
}

.site-header {
    animation: bounceInUp 1s;
    text-align: center;
}

.site-title {
    font-size: 88px;
    text-align: center;
    margin-top: 100px;
    color: #f35626;
    background-image: linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: hue 5s infinite linear;
}

.site-body {
    display: none;
}

/*-----------------------------------*\
                ANIMATIONS
\*-----------------------------------*/

@keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

.bingo-body {
    max-width: 1200px;
    margin: 0 auto;
}

.register {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: hsl(246, 41%, 21%);
    overflow: hidden;
    transition: color 0.4s ease-in-out;
}

.register::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #3cefff;
    transform-origin: center;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.45s ease-in-out;
}

.register:hover {
    cursor: pointer;
    color: #161616;
}

.register:hover::before {
    transform: translate(-50%, -50%) scale(15);
}

.register {
    display: inline-block;
    margin-top: 100px;
}

.balance {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

/*-----------------------------------*\
                input
\*-----------------------------------*/

div {
    position: relative;
}
  
input {
    width: 20em;
    color: white;
     margin:0 auto;
    font-size: inherit;
    font-family: inherit;
    background-color: hsl(246, 41%, 18%);
    padding: 0.35em 0.45em;
    border: 1px solid transparent;
    transition: background-color 0.3s ease-in-out;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: hsla(0, 0%, 100%, 0.6);
}

span.input-border {
    position: absolute;
    background-color: #fc2f70;
    transform-origin: center;
    transition: transform 0.5s ease;
}

.bottom,
.top {
    height: 1px;
    left: 0;
    right: 0;
    transform: scaleX(0);
}

.left,
.right {
    width: 1px;
    top: 0;
    bottom: 0;
    transform: scaleY(0);
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

input:focus ~ .top, input:focus ~ .bottom {
    transform: scaleX(1);
}

input:focus ~ .left, input:focus ~ .right {
    transform: scaleY(1);
}
  

.input-box {
    margin: 30px 0;
    display: inline-block;
}

.button {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: hsl(246, 41%, 21%);
    overflow: hidden;
    margin: 20px;
}

.button::after {
    content: '';
    z-index: -1;
    background-color: hsla(0, 0%, 100%, 0.2);
    position: absolute;
    top: -50%;
    bottom: -50%;
    width: 1.25em;
    transform: translateX(-525%) rotate(35deg);
    }

.button:hover {
    cursor: pointer;
}
  
.button:hover::after {
    transition: transform 0.45s ease-in-out;
    transform: translateX(200%) rotate(35deg);
}
  

/*-----------------------------------*\
                loader
\*-----------------------------------*/

.loader {
    position: relative;
    display: none;
    z-index: 1;
  }
  
  .outer,
  .middle,
  .inner {
    border: 3px solid transparent;
    border-top-color: #3cefff;
    border-right-color: #3cefff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  
  .outer {
    width: 3.5em;
    height: 3.5em;
    margin-left: -1.75em;
    margin-top: -1.75em;
    animation: spin 2s linear infinite;
  }
  
  .middle {
    width: 2.1em;
    height: 2.1em;
    margin-left: -1.05em;
    margin-top: -1.05em;
    animation: spin 1.75s linear reverse infinite;
  }
  
  .inner {
    width: 0.8em;
    height: 0.8em;
    margin-left: -0.4em;
    margin-top: -0.4em;
    animation: spin 1.5s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
/*-----------------------------------*\
            下注与赎回
\*-----------------------------------*/

.play {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    margin: 20px 0 10px 0;
    padding: 0.5em 1em;
    min-width: 200px;
    outline: none;
    border: none;
    background-color: hsl(246, 41%, 21%);
  }
  
.play::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fc2f70;
    transform-origin: center right;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
}
  
.play:hover {
    cursor: pointer;
}
  
.play:hover::before {
    transform-origin: center left;
    transform: scaleX(1);
}

#bingo {
    display: none;
}