/*-----------------------------------*\
                $HEADER
\*-----------------------------------*/
* {
  margin: 0;
  padding: 0;
  color: #fff;
  box-sizing: border-box;
  /* text-align: center; */
}

body {
  background: url("assets/180413131514-09-las-vegas-casinos-full-169.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

button:focus {
  outline: none;
}

.dark-cover {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgb(26, 0, 59);
  top: 0;
  opacity: 80%;
}

#container {
  width: 85%;
  margin: auto;
  /* background-color: #333333; */
  position: relative;
}

.site-header {
  animation: bounceInUp 1s;
  text-align: center;
}

.site-title {
  font-size: 88px;
  font-family: "Ultra", sans-serif;
  text-align: center;
  margin-top: 50px;
  color: #f35626;
  background-image: linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* animation: hue 5s infinite linear; */
}

#bingo-body {
  display: flex;
  margin-top: 2vh;
  width: 100%;
    transition: 1s;
    /* display: none; */
}

#prize-pool {
  text-align: center;
  /* flex-grow: 1; */
  width: 35%;
  background-image: linear-gradient(92deg, #f35626, #feab3a);
  border-radius: 1vw;
  height: 65vh;
  /* width: 100%; */
}
#prize-pool > p:first-child {
  font-size: 64px;
  font-family: "Ultra", sans-serif;
  color: #fff;
  margin-top: 15%;
}
#prize-pool > p:nth-child(2) {
  font-size: 72px;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  line-height: 60px;
  color: #fff;
  margin-top: 15%;
  margin-bottom: 15%;
  word-wrap: break-word;
}
#prize-pool > p:nth-child(2) > span {
  font-size: 28px;
}
#prize-pool > p:nth-child(2) > span#prize {
    font-size: 72px;
  }
#prize-pool > div {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  border-radius: 15px;
  background-color: #680091;
  width: 75%;
  margin: auto;
}

#play-body {
  /* flex-grow: 3; */
  width: 65%;
  text-align: center;
  background-color: rgba(9, 0, 22, 0.7);
  border-radius: 1vw;
  height: 65vh;
  position: relative;
}
#play-body p.bet {
  font-size: 36px;
  font-family: "Ultra", sans-serif;
  color: #fff;
  margin-top: 4%;
}
#play-body p.bet > span {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

#small-big {
  width: 40%;
  display: flex;
  margin: auto;
  justify-content: center;
}
#small-big div {
  width: 50%;
  padding: 10px;
  background-color: rgba(66, 0, 104, 0.678);
  border-radius: 0.2vw;
  cursor: pointer;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: rgb(111, 16, 179);
}
#small-big div.active {
  background-color: #feab3a;
}

#play-body p.balance {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  line-height: 25px;
  margin: 0;
}

#input-wrapper {
  display: flex;
  margin: auto;
  margin-top: 2%;
  width: 80%;
}
#input-box {
  flex-grow: 2;
}
input {
  width: 100%;
  color: white;
  margin: 0 auto;
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
  background-color: rgba(66, 0, 104, 0.678);
  padding: 0.35em 0.45em;
  border-width: 0;
  /* border: 1px solid transparent;
    transition: background-color 0.3s ease-in-out; */
}


input:focus {
    outline: none;
  }
  
  input::placeholder {
    color: hsla(0, 0%, 100%, 0.6);
  }
  
  
.input-box {
    margin: 30px 0;
    display: inline-block;
}
  
#button-box {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
}
.button {
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
  color: white;
  padding: 0.35em 0.45em;
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.2vw;
  border-color: rgb(227, 178, 255);
  background-color: hsla(245, 41%, 21%, 0);
  /* overflow: hidden; */
  /* margin: 30px; */
  width: 40%;
}
.button:hover {
  background-color: hsl(271, 80%, 23%);
}
.button:active {
  background-color: #feab3a;
}

.play {
  z-index: 1;
  position: relative;
  font-size: 28px;
  font-family: "Ultra", sans-serif;
  color: #666;
  background-color: #aaa;
  margin: 20px 0 10px 0;
  padding: 0.5em 1em;
  width: 50%;
  outline: none;
  border: none;
  border-radius: 0.5vw;
  cursor: not-allowed !important;
}

.play.active {
  color: hsl(268, 100%, 15%);
  background-image: linear-gradient(92deg, #f35626, #feab3a);
  cursor: pointer !important;
}

.play.active::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fc2f70;
  transform-origin: center right;
  border-radius: 0.5vw;
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
}

.play.active:hover {
  cursor: pointer;
  color: #fff;
}

.play.active:hover::before {
  transform-origin: center left;
  transform: scaleX(1);
}

#input-alert {
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 47, 47);
}

#description {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}
#description > div {
  width: 40%;
}
#description p.title {
  font-size: x-large;
  font-weight: 900;
}

/* my Bet */

#child-selector{
    display: none;
}
#bet-result{
    display: none;
    justify-content: space-around;
}
#bet-result>div{
    width: 48%;

}
#bet-result>div>div:first-child{
    font-size: 36px;
    font-family: "Ultra", sans-serif;
    color: #feab3a;
    text-align: center;
    margin: 1rem 0 1rem 0;
}
#bet-result>div>div:nth-child(2){
    width: 100%;
    height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgba(9, 0, 22, 0.7);
    border-radius: 2rem;
    position: relative;
}
#bet-result .no-txs{
    
    position: absolute;
    font-size: 48px;
    font-family: "Ultra", sans-serif;
    color: rgba(255, 255, 255, 0.555);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#bet-result ul{
    list-style: none;
    margin-top: 1.5rem;
}
#bet-result li{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
#bet-result li:first-child{
    margin-top: 0rem;

}
#bet-result li>div{
    position: relative;
    width: 95%;
    margin: auto;
    border: 2px solid #feab3a;
    border-radius: 1rem;
}
#bet-result li p{
    font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
  /* color: #feab3a; */
  word-wrap: break-word;
  line-height: 1.25rem;
  margin: 0 1.5rem 1rem 1.5rem;
}
#bet-result li>div>p:last-child{
  margin-bottom: 2.5rem;
}
#waiting-for-draw li>div>p:first-child{
    margin-top: 2.5rem;
  }
#bet-result li p>span{
  font-weight: bolder;
  color: #feab3a;
}
#bet-result p[name="outcome"]{
    font-size: 56px;
    font-family: "Ultra", sans-serif;
    color: rgb(255, 46, 9);
    margin-top: 2.5rem;
}
#bet-result p[name="outcome"].is-win{
    color: rgb(1, 218, 1);
}
#bet-result p[name="amount"]{
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    font-weight: lighter;
}


/* nav */
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 5vh;
  width: 85%;
  left: 7.5%;
}

nav button {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  border: none;
  color: #666;
  background-color: #aaa;
  outline: none;
  cursor: pointer;
  font-size: 28px;
  font-weight: 900;
  font-family: "Ultra", sans-serif;
}

nav button.active {
  background-color: #feab3a;
  color: hsl(268, 100%, 15%);
}

#spinner-container {
  position: fixed;
  top: 0;
  z-index: 10;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  display: none;
}

#spinner {
  position: absolute;
  width: 200px;
  height: 200px;
  background-image: linear-gradient(92deg, #f35626, #feab3a);
  border-radius: 40px;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
}
#spinner::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  width: 100px;
  height: 100px;
  border: 20px solid #fff;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner 0.75s linear infinite;
}

@keyframes spinner {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}


/* media query */

@media (max-width: 1920px) {
    #prize-pool>p:first-child{
        font-size: 3.5rem;
    }
    #prize-pool > p:nth-child(2) > span#prize {
        font-size: 3.5rem;
      }
}

@media (max-height: 1080px){
    nav{
        bottom: 2rem;
    }

    .site-title{
        margin-top: 1rem;
        font-size: 4.5rem;
    }

    #bingo-body>div{
        height: 70vh;
    }

    #play-body p.bet {
        margin-top: 1.5rem;
        font-size: 2rem;
    }

    #small-big div{
        font-size: 1.25rem;
        width: 40%;
    }

    #balance-input, .button, .play{
        font-size: 1.5rem;
    }



}

@media (max-width: 820px) {
    .site-title{
        margin-top: 1rem;
        font-size: 2.25rem;
    }

    #bingo-body{
        flex-direction: column;
    }

    #bingo-body>div{
        height: auto;
        width: 100%;
    }

    #prize-pool>p:first-child{
        font-size: 2rem;
        margin-top: 0.5rem;
        margin-bottom: 0;
    }
    #prize-pool > p:nth-child(2){
        margin-top: 0rem;
        margin-bottom: 1rem;
        line-height: 0.75rem;
    }
    #prize-pool > p:nth-child(2) > span {
        font-size: 1.25rem;
      }
    #prize-pool > p:nth-child(2) > span#prize {
    font-size: 2rem;
    }

    #prize-pool > div {
        font-size: 14px;
        padding: 5px;
        border-radius: 10px;
        line-height: 1rem;
        margin-bottom: 1rem;
      }

    #play-body p.bet {
        margin-top: 0.5rem;
        font-size: 1.5rem;
    }

    #small-big{
        width: 90%;
    }
    #small-big div{
        font-size: 1rem;
        padding: 8px;
        /* width: 80%; */
    }

    #play-body p.bet:nth-child(3) {
        margin-bottom: 0rem;
    }

    #play-body p.balance{
        font-size: 14px;
        line-height: 1rem;
    }

    #input-wrapper{
        flex-direction: column;
    }

    #balance-input, .button{
        font-size: 1rem;
    }
    .play{
        font-size: 1.25rem;
        width: 100%;
    }
    .button{
        width: 50%;
    }
    #button-box {
        margin-top: 0.5rem;
    }

    #description {
        flex-direction: column;
        margin-bottom: 3rem;
    }

    #description > div{
        width: 100%;
    }

    #description p.title{
        font-size: 1.25rem;
    }

    #description p.content{
        font-size: 14px;
    }

    nav{
        width: 100%;
        z-index: 10;
        left: 0;
        bottom: 0;

        /* overflow: hidden; */
    }

    nav button{
        border-radius: 0;
        width: 40%;
        height: auto;
        font-size: 1.5rem;
        /* transform: translateY(-50%); */
        padding: 0.5rem;
        box-sizing: content-box;
    }

    #child-selector{
        display: flex;
        width: 100%;
        margin-bottom: 0rem;
        margin-top: 0.5rem;
    }

    #child-selector>div{
        font-size: 1rem;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        font-weight: 900;
        background-color: rgba(66, 0, 104, 0.678);
        color: rgb(153, 34, 238);
        width: 50%;
        padding: 0.5rem;
    }

    #child-selector>div.active{
        background-color: #feab3a;
        color: rgb(111, 16, 179);
    }

    #lottery>div:first-child,
    #waiting-for-draw>div:first-child{
        display: none;
    }

    #bet-result {
        flex-direction: column;
    }
    #bet-result>div{
        width: 100%;
    }

    #waiting-for-draw {
        display: none;
    }

    #bet-result>div>div:nth-child(2){
        border-radius:0rem;
        height: 78vh;
    }

    #bet-result ul{
        margin-top: 0.5rem;
    }

    #bet-result li>div {
        width: 100%;
        border-width: 1px;
    }

    #bet-result li p{
        font-size: 14px;
        margin: 0 1rem 0rem 1rem;
    }

    #bet-result li>div>p:last-child{
        margin-bottom: 1.25rem;
    }

    #bet-result p[name="outcome"]{
        font-size: 2.5rem;
        margin-top: 1.25rem;
    }

    #bet-result p[name="amount"]{
        font-size: 1.5rem;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    #bet-result .no-txs{
        font-size: 2.5rem;
    }

    #waiting-for-draw li>div>p:first-child{
        margin-top: 1.25rem;
    }

}




@media (min-width: 820px) and (max-width: 1460px){

    .site-title{
        margin-top: 1rem;
        font-size: 2.5rem;
    }

    #bingo-body>div{
        height: 75vh;
    }

    #prize-pool>p:first-child{
        font-size: 2rem;
        margin-top: 15%;
    }

    #prize-pool > p:nth-child(2){
        line-height: 18px;
        margin-top: 30%;
        margin-bottom: 30%;
    }

    #prize-pool > p:nth-child(2) > span{
        font-size: 14px;
    }

    #prize-pool > p:nth-child(2) > span#prize{
        font-size: 2rem;
    }

    #prize-pool > div{
        font-size: 14px;
    }

    #play-body p.bet {
        margin-top: 0.5rem;
        font-size: 1.5rem;
    }

    #small-big{
        width: 70%;
    }
    #small-big div{
        font-size: 1rem;
        padding: 8px;
        /* width: 80%; */
    }

    #play-body p.bet:nth-child(3) {
        margin-bottom: 0rem;
    }

    #play-body p.balance{
        font-size: 14px;
        line-height: 16px;
    }

    nav{
        width: 100%;
        z-index: 10;
        left: 0;
        bottom: 0;

        /* overflow: hidden; */
    }

    nav button{
        border-radius: 0;
        width: 40%;
        height: auto;
        font-size: 1.5rem;
        padding: 0.75rem;
        box-sizing: content-box;
    }

    #balance-input, .button, .play{
        font-size: 1rem;
    }

    #description{
        margin-top: 0rem;
    }

    #description > div{
        width: 49%;
    }

    #description p.title{
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    #description p.content{
        font-size: 0.75rem;
        line-height: 1rem;
    }

    #bet-result>div>div:first-child{
        font-size: 1.25rem;
        margin: 0rem;
    }

    #bet-result>div>div:nth-child(2){
        border-radius:0rem;
        height: 78vh;
    }

    #bet-result ul{
        margin-top: 0.5rem;
    }

    #bet-result li>div {
        width: 100%;
        border-width: 1px;
    }

    #bet-result li p{
        font-size: 14px;
        margin: 0 1rem 0rem 1rem;
    }

    #bet-result li>div>p:last-child{
        margin-bottom: 1.25rem;
    }

    #bet-result p[name="outcome"]{
        font-size: 2.5rem;
        margin-top: 1.25rem;
    }

    #bet-result p[name="amount"]{
        font-size: 1.5rem;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    #bet-result .no-txs{
        font-size: 2.5rem;
    }

    #waiting-for-draw li>div>p:first-child{
        margin-top: 1.25rem;
    }

}

/* iPad pro */
@media (width: 1024px) and (height: 1366px) {
    #bingo-body{
        flex-direction: column;
    }

    #bingo-body>div{
        height: auto;
        width: 100%;
    }

    #prize-pool>p:first-child{
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
    #prize-pool > p:nth-child(2){
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
        line-height: 0.75rem;
    }
    #prize-pool > p:nth-child(2) > span {
        font-size: 1.25rem;
      }
    #prize-pool > p:nth-child(2) > span#prize {
    font-size: 2rem;
    }

    #prize-pool > div {
        font-size: 14px;
        padding: 5px;
        border-radius: 10px;
        line-height: 1rem;
        margin-bottom: 1.5rem;
      }

    
      #play-body p.bet {
        margin-top: 2rem;
        font-size: 1.5rem;
    }


    #play-body p.bet:nth-child(3) {
        margin-bottom: 0.5rem;
    }

    #play-body p.balance{
        font-size: 1rem;
        line-height: 1.25rem;
    }

    .play{
        font-size: 1.25rem;
        width: 80%;
    }
    .button{
        width: 50%;
    }


    #description p.title{
        font-size: 1.25rem;
    }

    #description p.content{
        font-size: 14px;
        line-height: 1.25rem;
    }


}


